body {
  background: blue;
}

/* heading font- dm serif display 
    body font- open sans,sans-serif
*/

/* colors: dark-blue:#194866; on-hover-light-blue: #69e0ff; orange:#f98012; grey-text-body-color:#545454*/

*::selection {
  background-color: #f98012;
  color: white;
}

a:hover {
  text-decoration: none !important;
}

h1 {
  color: #194866;
  font-size: 4.5rem !important;
  font-family: "DM Serif Display", serif;
}

h2 {
  font-family: "DM Serif Display", serif;
  color: #194866;
  font-size: 3.5rem !important;
}

.pad-tb {
  padding: 7rem 0 !important;
}

.logo {
  padding-left: 3rem;
}

.nav-link {
  color: #194866 !important;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}

.navbar-nav {
  align-items: center;
  padding-top: 1rem;
}

.dots-icon {
  width: 3.5rem;
  padding: 0;
}

.contact-icon {
  width: 2.5rem;
}

.nav-link .contact-icon {
  padding: 0;
}

.fa-angle-down {
  padding-left: 0.2rem;
}

.initial-li {
  padding: 0 1rem;
}

.side-links {
  margin-left: 13rem;
  display: flex;
  align-items: center;
}

.fa-search {
  font-size: 1.1rem !important;
}

.get-moodle {
  border: 1px solid #194866;
  border-radius: 20px;
  padding: 0.2rem 0.9rem !important;
}

.en-wrapper {
  display: flex;
  align-items: center;
  padding: 0.7rem;
}
.en {
  margin: 0 1.5rem 0 0;
}

.header-text {
  color: #545454;
  font-family: "Open Sans", sans-serif;
}

.right-arrow {
  width: 4rem;
}

.button {
  display: flex;
  align-items: center;
  border: 1px solid #194866;
  border-radius: 30px;
  width: 11rem;
  padding: 0.7rem 1.8rem;
  margin-top: 3rem;
  color: #194866;
  font-weight: 600;
  font-size: 14px;
}

.button::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  margin: 0 0 0 1rem;
  transition: transform 0.2s, color 0.2s, background-color 0.2s;
}

.button:hover {
  background-color: #f98012;
}

.button:hover::after {
  transform: translateX(8px);
}

/* .btn-text {
  margin: 0;
  color: #194866;
  font-weight: 600;
  font-size: 0.875rem;
  padding-right: 0.7rem;
  font-size: 0.9rem;
} */

.fa-arrow-right {
  font-size: 1.2rem;
}

.beige {
  background-color: #fff8f1;
}

.bg-circle {
  position: absolute;
  margin: 0px -21rem;
}

.pic-one {
  width: 35rem;
  border-radius: 20px;
  margin-top: 7.5rem;
  margin-left: -1.5rem;
}

.caption {
  font-size: 14px;
  color: #54545a;
  font-family: open sans, sans-serif;
  font-weight: 600;
}

.section-text {
  font-size: 16px;
  line-height: 1.6;
  color: #545454;
  font-family: open sans, sans-serif;
  font-weight: 400;
  margin: 1.5rem 2rem 0 0;
}

.sec-pad {
  padding: 18rem 0 0 4rem !important;
}

.blue-quar-pd {
  padding: 0 0 3rem 84rem;
}

.card {
  border-radius: 20px !important;
  width: 23rem;
  padding: 0 0.2rem;
}

.card-icon {
  width: 4rem;
  margin: 1.5rem;
}

h3 {
  font-family: "DM Serif Display", serif;
  color: #194866;
  padding-top: 2rem;
}

.card-text {
  font-size: 16px;
  line-height: 1.6;
  color: #545454;
  font-family: open sans, sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

.vid-card {
  width: 35rem;
  border: none !important;
}

.card-pd {
  padding-bottom: 3rem;
}

.pills {
  display: flex;
  flex-wrap: wrap;
}

.pill {
  font-size: 12px;
  font-weight: 600;
  background-color: #194866;
  color: #fff !important;
  border-radius: 30px;
  padding: 0.4rem 0.8rem;
  margin: 2rem 0.3rem 0 0;
}

.vid-cover-wrapper {
  position: relative;
  display: inline-block;
}

.vid-cover-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38%, #000 100%);
}

.vid-cover {
  border-radius: 20px;
  width: 34rem;
}

.view-more {
  font-size: 18px;
  color: #194866;
  font-weight: 600;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}

.view-more::after {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  border: 1px solid #194866;
  border-radius: 20px;
  padding: 0.5rem 0.6rem;
  margin: 0 1.5rem;
}

.view-more:hover::after {
  background-color: #f98012;
  cursor: pointer;
}

.play-button {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 3rem;
  border: 1px solid white;
  border-radius: 32px;
  padding: 0.8rem;
}

.play-button:hover {
  background-color: #f98012;
}

.vid-caption {
  position: absolute;
  bottom: 1.5rem;
  left: 5.3rem;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}

.blue-bg {
  background-color: #194866;
}

.white {
  color: white !important;
}

.card.img-1 {
  width: 24rem;
  height: 28rem;
  position: relative;
}

.card.img-1::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38%, #000 100%);
}

.img-1 {
  background-image: url("assets/images/card-img-1.webp");
  background-position: center;
}

.orange-bg,
.white-bg {
  color: #282828 !important;
  margin: 0.2rem 1rem;
}

.orange-bg {
  background-color: #f98012;
}
.orange-bg:hover {
  background-color: aqua;
}

.white-bg {
  background-color: white;
}

.num {
  font-size: 36px;
  color: #194866;
  font-family: "DM Serif Display", serif;
}

.num-caption {
  font-size: 16px;
  color: #194866;
  font-family: "Open Sans", sans-serif;
}

.pioneer-img {
  width: 38rem;
  margin: 0 -5rem;
}
